$primaryColor : #6b0505;

body {
    background: $primaryColor;
    font-family: Tahoma, sans-serif;

    h1,h2,p {
        background: #ffffff;
        border-radius: 4px;
        padding: 20px;
    }
}